.pac {
    background-image: url(./images/pac.png);
    width: 37px;
    height: 50px;
    animation: play 1.5s steps(8) infinite;
    transform-origin: top left;
}

@keyframes play {
    100% {
        background-position-y: 400px;
    }
}